.burger-btn {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.burger-btn img {
    width: 100%;
}

.burger-bar {
    display: block;
    width: 100%;
    height: 3px;
    background: var(--white);
}

.desktop-button {
    display: block;

}

.mobile-button {
    display: none;
}

/* Адаптивные стили для планшетов */
@media (max-width: 1024px) {

    .desktop-button {
        display: none;
    }

    .mobile-button {
        display: flex;
    }

    .navigation-menu__list.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .hero {
        flex-direction: column;
    }

    .hero-content {
        max-width: 100%;
        padding-left: 0;
    }

    .about__items {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .t2 {
        text-align: center;
    }

    .about__items p:first-child {
        margin-bottom: 40px;
    }

    .reasons .flex-container {
        flex-direction: column;
    }

    .modal-content {
        left: 20px;
        right: 20px;
    }

    .modal-content .flex-container {
        flex-direction: column;
    }

    .modal-buttons {
        margin-top: 40px;
    }

    .companies {
        flex-wrap: wrap;
        width: 100%;
    }

    .companies a:not(:last-child) {
        margin-right: 40px;

    }

    .companies a img {
        width: 100%;

    }

    .companies a {
        width: 25%;
        margin-bottom: 40px;
    }

    .contacts__title-block .button {
        transform: translate(5%);
        flex-direction: column;
        width: 90%;
    }

    .contacts h2 {
        text-align: left;
        margin-bottom: 20px;
    }

    .contacts .flex-container {
        flex-direction: column;
        gap: 20px;
    }

    .links {
        width: 100%;
    }

    .links img {

        width: 64px;
    }

    img,
    picture {

        display: block;
    }

    .legal-links {
        display: none;
    }

    .legal-links-media {
        display: block;
        display: flex;
        flex-direction: column;
    }

    .footer-top {
        flex-direction: column;
        align-items: start;
    }

    .footer-top .stick-block__logo {
        margin-bottom: 24px;
    }

    .footer-top .button {
        margin-top: 24px;
        margin-bottom: 40px;
    }

    .footer-top a {
        margin-bottom: 16px;
    }
}

/* Адаптивные стили для мобильных устройств */
@media (max-width: 768px) {
    .container {
        margin-bottom: 40px;
        padding: 0 16px;
    }

    .hero-image {
        margin-right: 0;
    }

    .modal-buttons {
        flex-direction: column;
    }

    .button {
        display: block;
        text-align: center;
        width: 100%;
    }

    .desktop-button {
        display: none;
    }

    .mobile-button {
        display: flex;
    }



    .navigation-menu__list.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .about {
        background-image: none;
    }



    .about__items h4 {
        margin-bottom: 16px;
    }

    .grid-container {
        display: flex;
        flex-direction: column;
    }

    .scroller {
        height: 461px;
    }

    .percent .flex-item:not(:last-child) {
        margin-right: 0;
    }

    .percent .flex-item {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .percent .flex-container {
        flex-direction: column;
    }



    .reasons .flex-item {
        padding: 20px;
        text-align: left;
    }

    .reasons .item1 {
        padding-bottom: 220px;
        background-size: 200px;
    }

    .reasons .item2 {
        padding-bottom: 220px;
        background-size: 100px;
    }

    .reasons .item3 {
        padding-bottom: 150px;
        background-size: 200px;
    }

    .reasons .item4 {
        padding-bottom: 400px;
        background-size: 150px;
    }

    .footer-top .button {
        width: max-content;
    }



}