:root {
    --main-color: #181818;
    --header-bg-color: #FFAA4C;
    --white: #FFFFFF;
    --black: #000000;
    --pink: #954CED;
    --border: #444444;
    --word1: #2FDBBC;
    --word2: #A64CED;
    --word3: #FFAA4C;
    --border-bottom: #CFCFCF;
    --footer-link: #B9B9B9;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--main-color);
    color: var(--white);
}

a {
    color: inherit;
}



.container {
    padding: 0 60px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.flex-container {
    display: flex;

}

.navigation-menu {
    background-color: var(--header-bg-color);
}

.navigation-menu__list {
    display: flex;
    margin-bottom: 0;
}

.navigation-menu__list li {
    padding: 9px 40px 9px 40px;
    color: var(--black);
}

.navigation-menu__list li:first-child {
    padding: 9px 40px 9px 40px;
    border-radius: 20px 20px 0px 0px;
    background-color: var(--main-color);
    color: var(--white);
}

.button {
    padding: 16px 30px;
    border-radius: 16px;
    background-color: var(--pink);
    color: var(--white);
}

.header {
    padding-top: 7px;
    padding-bottom: 7px;
    position: sticky;
    top: 0;
    background-color: inherit;
    margin-bottom: 0;
  
}
.header .container {
    margin-bottom: 0;

}

.stick-block {
    display: flex;
    justify-content: space-between;
}

.hero {
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.hero-content {
    max-width: 50%;
    padding-left: 50px;
    margin-top: 153px;
    margin-bottom: 140px;
}

.hero-content h2 {
    margin-bottom: 20px;

}

.hero-content p {
    margin-bottom: 40px;
}

.hero-image {

    margin-right: -60px;
}

.about {
    background-image: url('/page/images/about_bg.png');
    background-position: left bottom;
    background-repeat: no-repeat;
}

.about__items {
    display: flex;
    margin-top: 60px;
    width: 100%;
    justify-content: space-between;
}

.about__items p {
    display: block;
    max-width: 397px;
    width: 100%;
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 70px;
    max-width: 700px;
}


.grid-item h3 {
    margin-bottom: 20px;
}

.grid-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}


/* Scroller */
@keyframes infiniteScrollRight {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);

    }
}

@keyframes infiniteScrollLeft {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0);
    }
}

.scroller {
    overflow: hidden;
    width: 100%;
    position: relative;
    height: 100%;
    margin-bottom: 100px;
}

.scroller div:not(:last-child) {
    margin-bottom: 70px;
}

.scroller__img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    height: 100%;
}

.horizontal-scrolling-items {
    display: flex;
    align-items: center;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    white-space: nowrap;

}

.horizontal-scrolling-items.right {
    animation-name: infiniteScrollRight;
}

.horizontal-scrolling-items.left {
    animation-name: infiniteScrollLeft;
}

.horizontal-scrolling-items__item {
    text-align: center;
    padding: 0 20px;
}

.scroller-first-color {
    color: var(--word1);
}

.scroller-second-color {
    color: var(--word2);
}

.scroller-third-color {
    color: var(--word3);
}

.scroller-transparent {
    color: transparent;
    /* на данный моммент есть проблема с обводкой из за шрифта*/
    -webkit-text-stroke: 1px var(--border);
}

/*Percent*/
.percent {
    background-color: var(--pink);
}

.percent h3 {}

.percent .flex-container {
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.percent .flex-item {
    width: max-content;

}

.percent .flex-item:not(:last-child) {
    margin-right: 100px;
}

/*reasons*/
.reasons {
    text-align: center;
}

.reasons .s1 {
    display: inline-block;
    max-width: 664px;
    margin-bottom: 70px;
}

.reasons .flex-container {
    width: 100%;
    max-width: 100%;
    gap: 20px;
    color: var(--black);
    margin-bottom: 20px;
}

.reasons .flex-item {
    border-radius: 30px;
    background-color: var(--white);
    width: 100%;
    padding: 40px;
}

.flex-item h5 {
    margin-bottom: 10px;
}

.flex-item p {
    max-width: 80%;
}

.reasons .item1 {
    max-height: 362px;
    padding-left: 320px;
    background-image: url('/page/images/reason_1.png');
    background-position: left bottom;
    background-repeat: no-repeat;
}

.reasons .item2 {
    max-height: 362px;

    background-image: url('/page/images/reason_2-1.png'), url('/page/images/reason_2-2.png'), url('/page/images/reason_2-3.png');
    background-position: bottom left, bottom right, center right;
    background-repeat: no-repeat;
}

.reasons .item3 {
    max-height: 362px;

    background-image: url('/page/images/reason_3.png');
    background-position: right bottom;
    background-repeat: no-repeat;
}

.reasons .item4 {
    max-height: 362px;
    padding-right: 250px;
    background-image: url('/page/images/reason_4.png');
    background-position: right bottom;
    background-repeat: no-repeat;
}

/*Contacts*/
.contacts {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    text-align: center;
    color: var(--black);

}

.contacts__title-block {
    padding-top: 60px;
    padding-bottom: 60px;
    border: 1px solid var(--border-bottom);
    border-radius: 60px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.contacts__title-block h3 {
    margin-bottom: 40px;
}

.contacts__links-title {
    text-align: left;
    width: 100%;
    flex-grow: 1;
}


.links {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.links__top-flex,
.links__bottom-flex {
    display: flex;
    width: 100%;
}

.links a {
    width: 18%;
}

.links img {
    width: 100%;
}

.links__top-flex a:first-child {
    margin-right: 35%;
}

.links__bottom-flex {
    justify-content: end;
}

.links__bottom-flex a:last-child {
    margin-left: 35%;
}

.companies {
    margin-top: 100px;
    display: flex;
    align-items: center;
}

.companies a:not(:last-child) {
    margin-right: 90px;
}

/*footer*/
.footer {
    padding-top: 40px;
}

.footer .container {
    margin-bottom: 21px;
}

.footer-top,
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-top {
    padding-bottom: 30px;
    border-bottom: 2px solid var(--border);
    margin-bottom: 20px;
}


.footer-link {
    margin: 0 10px;
    text-decoration: underline;
    color: var(--footer-link);
}


.app-link img {}

.footer-bottom {
    align-items: center;
}

.legal-links a {
    margin-left: 20px;
}
.legal-links-media {
    display: none;
}